<nav class="menucontainer">{% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %} {% assign thisitem = item %} class = "currPageLink menuitem" {% endif %} class="menuitem" tabindex ="0">
        <img src= {{ item.icon }} class="menuicon" alt="{{ item.alt }}"/>
        <div class="menucaption">{{ item.name }}</div>
    </a>{% endfor %}{% if ((site.data.navigation | size) | modulo 2) != 0 %}
    <span class="menuitem void" tabindex="-1"></span>{% endif %}
</nav>{% for item in site.data.navigation %} {% if item.sub %} {% for sub in item.sub %} {% if sub.link == page.url or item.link == page.url %} {% assign thissub = item %} {% break %} {% endif %} {% endfor %} {% endif %} {% endfor %} {% if thissub.sub %}
<nav class = "sub menucontainer">  {% for sub in thissub.sub %}
    <a href="{{ sub.link }}" {% if page.url == sub.link %} class = "currPageLink submenuitem" {% endif %} class="submenuitem" tabindex="0" {% if sub.download == true %} download = "77nn-feed.xml"{% endif %}> 
        <div class="submenucaption">{{ sub.name }}</div>
    </a> {% endfor %}  
</nav> {% endif %}
